@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Lora|Ubuntu&display=swap');

.ui-widget, body {
  font-size: medium !important;
  font-family: "Ubuntu", sans-serif !important;
}

body {
  background: #555;
}

div#main {
  margin: auto;
  width: 80%;
  background: #ddd;
  padding: 20px;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", "DejaVu Serif", serif;
}

h1#title {
  border-bottom: thin solid #555;
  text-align: center;
}

nav {
  margin: 10px 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 5px;
}

nav a {
  float: left;
  border-right: 1px solid #bbb;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover:not(.current) {
  background-color: #111;
}

nav a.current {
  background-color: #D0021B;
}

nav a:last-child {
  border-right: none;
  float: right;
}

em {
  color: #D0021B;
}

div#footer {
  text-align: center;
  font-size: small;
  font-style: italic;
  color: #aaa;
  margin-top: 5px;
}

h3.section-header {
  margin-left: 10px;
  padding: 10px;
  border-bottom: thin solid #aaa;
  width: 95%;
}

h3.section-header ~ p {
  margin-left: 10px;
  padding: 10px;
  width: 95%;
}

span#colour {
  padding: 10px;
}

table {
  border-collapse: collapse;
}

table td, table th {
  padding: 10px;
}
